name: Tests

on:
  push:
    branches:
      - main
    tags:
      - '**'
    paths-ignore:
      - docs/**
      - README.rst
      - LICENSE.md
      - publishing.md
  pull_request:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    env:
      EXTERNAL_WEAVIATE_RUNNING: true
    strategy:
      matrix:
        version: ["v2", "v3"]
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
          cache: true
      - name: Run tests
        run: |
          cd ${{ matrix.version }}
          docker-compose -f test/docker-compose.yaml up -d
          go test -v ./weaviate/...
          ( for pkg in $(go list ./... | grep 'weaviate-go-client/${{ matrix.version }}/test'); do if ! go test -v -count 1 -race "$pkg"; then echo "Test for $pkg failed" >&2; false; exit; fi; done)
  tests-v1:
    name: Tests v1
    runs-on: ubuntu-latest
    env:
      EXTERNAL_WEAVIATE_RUNNING: true
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        if: ${{ !github.event.pull_request.head.repo.fork }}
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
          cache: true
      - name: Run tests
        run: |
          docker-compose -f test/docker-compose.yaml up -d
          go test -v ./weaviate/...
          ( for pkg in $(go list ./... | grep 'weaviate-go-client/test'); do if ! go test -v -count 1 -race "$pkg"; then echo "Test for $pkg failed" >&2; false; exit; fi; done)
  tests-v4:
    name: Tests v4
    runs-on: ubuntu-latest
    env:
      EXTERNAL_WEAVIATE_RUNNING: false
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        if: ${{ !github.event.pull_request.head.repo.fork }}
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
          cache: true
      - name: Run tests
        run: |
          cd v4
          docker-compose -f test/docker-compose.yaml up -d
          go test -v ./weaviate/...
          ( for pkg in $(go list ./... | grep 'weaviate-go-client/v4/test'); do if ! go test -v -count 1 -race "$pkg"; then echo "Test for $pkg failed" >&2; false; exit; fi; done)
