name: Run tests

on:
  push:
    branches:
      - v6
  pull_request:
    branches:
      - v6

jobs:
  unit:
    name: go test
    runs-on: ubuntu-latest
    env:
      # Prevent accidentally dropping test cases with testkit.WithOnly.
      TESTKIT_NO_WITHONLY: 1
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"
          cache: true
      - run: go test -v -cover ./...
