name: Run tests

on:
  push:
    branches:
      - dyma/v6

jobs:
  unit:
    name: go test
    runs-on: ubuntu-latest
    env:
      # Prevent accidentally dropping test cases with testkit.WithOnly.
      TESTKIT_NO_WITHONLY: 1
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.24"
          cache: true
      - run: go test -v -cover ./...
